
    *{
        color:var(--bs-light);
        font-family:var(--regular);
    }
    .home-section-padding{
        position: relative !important;;
    }
    body{
        background:var(--bs-dark);
    } 
    .footer::before{
        content:'';
        position:absolute;
        height:1px;
        left:0;
        width:100% !important;
        z-index:10000 !important;
        background:var(--bs-success);
    }
    .navbar-nav a{
        margin-left:30px;
    }
    .goToTop{
        bottom:5%;
        right:2%;
        padding:10px;
        font-weight:1000;
        font-size:20px;
        border:2px solid var(--bs-light);
        border-radius:10px;
        z-index:1;
    }
    p{
        font-family:var(--regular_main);
    }
    a{
        text-decoration:none;
        cursor:pointer;
        cursor:pointer;
    }
    .container-fluid:nth-child(odd){
        background:var(--bs-black2);
    }
    .navbar-brand a{
        cursor:pointer;
        opacity:.8;
        font-weight:100;
        text-shadow:0px 1px 0px var(--bs-success);
        color:var(--bs-success);
    }
    .text-cursive{
        font-family:var(--cursive)!important;
    }
    .bg-social{
        position: relative;
        top:0;
        transition:.5s;
        background:var(--bs-black2);
        border-radius:50px;
    }
    .bg-social2{
        position: relative;
        top:0;
        transition:.5s;
        background:var(--bs-black2);
        border-radius:50px;
    }
    
    .bg-social2 i{
        color:var(--bs-success);
    }
    .bg-social2:hover{
        background:var(--bs-black2);
        
    }
    .bg-social2:hover i,.bg-social2:hover h6{
        color:var(--bs-light);
    }
    .bg-social:hover{
        transition:.1s;
        box-shadow:none;
        background:var(--bs-black);
        box-shadow:0px 0px 1.2px var(--bs-light);
    }
    .bg-social:hover i{
        color:var(--bs-success);
    }
    .bg-social i{
        color:var(--bs-light);
    }
    .bg-social i,.bg-social h6{
        transition:.5s;
        position: relative;
        z-index:1;
    }
    .bg-social h6{
        color:var(--bs-light);    
    }
    .myimage{
        width:100%;
        height:100%;
    }
    .myimage img{
        filter:brightness(0.9);
        width:50%;
        padding:5px;
        border-radius:10px 65% 65%;
        border:10px solid #e8dede36;
        transition:.3s;
    }
    @keyframes imgAnim {
        0%{
            transform:translateY(2%);
        }
        100%{
            transform:translateY(0%);
        }
    }
    

    ::-webkit-scrollbar {
        width:0px; 
    }
    

    ::-webkit-scrollbar-track {
        z-index:-10;
        background-color: #0a0a0a; 
        border-radius: 10px; 
    }
    
    ::-webkit-scrollbar-thumb {
        background-color:var(--bs-light); 
        border-radius:50px; 
    }
   

    /* For All Page Mobile View */
    .section-padding{
        padding:30px 15px;
    }
    .section-padding h1{
        padding:20px 0px 10px;
        text-align:center;
        font-weight:100;
        font-family:var(--cursive2);

        text-transform:uppercase;
    }
    .section-padding h1>span{
        color:var(--bs-success);
        font-weight:500!important;
    }
    .home-section-padding{
        padding:100px 15px 50px;
    }
    .socialmedia-linkss{
        padding-top:10px;
    }
    .socialmedia-linkss i{
        font-size:23px;
    }
    .socialmedia-linkss .icon1{
        color:var(--bs-success);
    }
    .socialmedia-linkss .icon2{
        color:var(--bs-warning);
    }
    .socialmedia-linkss .icon3{
        color:var(--bs-primary);
    }
    .socialmedia-linkss .icon4{
        color:var(--bs-light);
    }
    .socialmedia-linkss i:hover{
        top:-3px;
    }
    
    .myHeaders{
        z-index:100;
        position:relative;
    }
    .myNavbar{
        box-shadow:0px 0px 2px #363636;
        border-bottom:1px solid var(--bs-success);
    }
    .myBoxxes .card{
        transition:.5s;
        background: var(--bs-dark) !important;
        border:1px solid var(--bs-black3);
        height:190px;
        overflow:hidden;
        position: relative;
        top:0;
    }
    .myBoxxes .card .myDivContent{
        position: relative;
        transition:.8s;
        top:0px;
    }
    
    .myBoxxes .card:hover .myDivContent{
        top:-190px;
        transition:1s;
    }

    .myBoxxes .card .badge{
        color:var(--bs-dark);
        padding:4px 20px;
        border-radius:0;
        font-weight:600;
        text-transform:uppercase;
        box-shadow:inset 0 0 2px #797979;
        transition:.8s;
        border-radius:40px;
        transform:rotate(0) scale(1);
    }
    .myBoxxes .card:hover .badge{
        color:var(--bs-light);
        border-radius:40px;
    }
    .myBoxxes1 .card,.myBoxxes .card{
        cursor:pointer;
    }
    .myBoxxes1 .card{
        background: var(--bs-black3) !important;
    }
    /* Larger than 992px View */

    .myBoxxes12 .row{
        cursor:pointer;
        background:var(--bs-black2);
        transition:.8s;
        margin:5px 0px;
    }
    
    
    .myBoxxes12 img{
        filter:brightness(0.5);
        height:190px;
    }
    .swiper-slide-visible{
        transform: scale(1) !important;
    }
    .swiper-slide-visible img,.myBoxxes12:hover img{
        filter:brightness(1);
    }
    .myBoxxes12 .url1{
        font-size:12px;
        font-weight:700;
        color:grey;
        border-radius: 3px;
        border:1px solid;
    }
    .myBoxxes12 .url1:hover{
        color:var(--bs-black2);
        background:#a0a5a0;
        border:1px solid #a0a5a0;
    }
    .myBoxxes12 .mydiv{
        width:100%;
    }
    .myBoxxes12 .url{
        border-radius:60px;
        color:var(--bs-success);
        text-transform:uppercase;
        border:1px solid;
        font-weight:100;
    }  
    .myBoxxes12:hover .url{
        color:var(--bs-dark);
        background:var(--bs-success);
        border-color:var(--bs-success);
    }
    .myBoxxes12 .url::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0%;
        height: 3px;
        background-color: #333;
        transition: all 0.3s ease;
    }
    .experience{
        background:var(--bs-dark);
    }
    .experience .grade{
        font-weight:100;
        font-size:15px!important;
        text-transform:uppercase;
    }
    .experience .role{
        font-family:var(--cursive2);
        font-weight:100!important;
        font-size:40px;
    }
    .experience .year{
        font-size:15px!important;
        font-weight:100!important;
        text-transform:uppercase;
    }
    .experience .myBtn{
        font-weight:100!important;
        border-radius:30px;
    }
    .education{
        text-align:start!important;
    }
    .education .grades{
        font-family:var(--cursive2);
    }
    .education .marks{
        font-size:24px;
        font-family:var(--regular);
    }
    .myAbout .name{
        font-size:15px;
        text-transform:capitalize;
        letter-spacing:3px;
        font-family:var(--regular);
        font-weight:700;
        color:var(--bs-success);
        margin-bottom:10px;
    }
    .myAbout .role{
        font-weight:100;
        color:var(--bs-success);
    }
    .myAbout p{
        font-size:40px !important;;
        font-family:var(--cursive2);
    }
    .modal-content{
        background:transparent;
    }
    .modal-dialog{
        transform: scale(0.9) !important;;
    }
    @media (min-width:992px) {
        .experience .grade{
            font-size:23px;
        }
        .modal-dialog{
            transform: scale(1.4) !important;;
        }
        .myBoxxes12 img{
            height:260px;
        }
        .myAbout .name span:nth-child(1){
            color: var(--bs-light);
        }
        .myimage img{
            width:75%;
            border-radius:100%;
            border:none;
            box-shadow:none;
            animation:none!important;
        }
        @keyframes imgAnim11 {
            0%{
                transform:translateY(2%);
            }
            
            100%{
                transform:translateY(-2%);
            }
        }
        .home-section-padding{
            padding:150px 15px 90px;
            position: relative;
        }
        .navbar-nav a{
            color: var(--bs-light) !important;
            margin-left:10px;
            border-radius:40px;
            padding:4px 20px!important;
            position: relative;
            font-weight:500;
            transition:.5s ease;
            opacity:0.65;
        }
        .navbar-nav a::after{
            content:'';
            height:0;
            border-radius:40px;
            position: absolute;
            transition:.5s ease;
            width:0;
            z-index:-999;
            top:28%;
            left:0;
            height:14px;            
            width:15px;
            transform:scale(0);
        }
        .navbar-nav a:hover::after{
            transform:scale(1);
            opacity:0.5;
            background:var(--bs-light)!important;
        }
        .navbar-nav .active::after{
            transform:scale(1);
            background:var(--bs-success)!important;
        }
        .navbar-nav a:hover,.navbar-nav .active,.navbar-nav a:active,.navbar-nav a:focus{
            transition:.5s ease;
            opacity:1;
            color:var(--bs-light)!important;
        }
        .navbar-brand a{
            cursor:pointer;
            font-size:32px;
            opacity:.8;
            font-weight:200;
        }
        .section-padding{
            padding:50px;
        }
        
        .section-padding h1,.home-section-padding h1{
            font-size:25px;
            font-weight:300;
        }
        .section-padding h1>span,.home-section-padding h1>span{
            font-weight:600;
            background:var(--bs-success);
            background-clip:text;
            color:transparent;
            margin-left:4px;
            border-radius:40px;
        }
            
        .myAbout .role{
            color:var(--bs-light);
            font-size:50px;
            margin-bottom:10px;
            font-weight:600;
        }
        .myAbout p{
            margin-bottom:10px;
            font-size:18px;
        }
        .socialmedia-linkss{
            display:flex;
        }
        .socialmedia-linkss i{
            text-align:center;
            display:flex;
            justify-content:center;
            align-items:center;
            font-size:38px;
            position: relative;
            padding:4px 10px;
            top:0px;
            transition:.3s;
        }
        .myBoxxes12 .mydiv{
            width:75%;
        }
    }  

  