
    *{
        color:var(--bs-secondary);
    }

    body{
        background:var(--bs-dark);
    }
    .navbar-nav a{
        margin-left:30px;
    }
    a{
        text-decoration:none;
        cursor:pointer;
        text-transform:capitalize;
        cursor:pointer;
    }
    .container-fluid:nth-child(odd){
        background:var(--bs-black2);
    }
    .navbar-brand a{
        cursor:pointer;
        opacity:.8;
        font-weight:200;
        color:var(--bs-light)!important;
        font-family:var(--regular);
    }
    .bg-social{
        position: relative;
        top:0;
        transition:.5s;
        background:var(--bs-black3);
        box-shadow:0px 0px 3px var(--bs-dark);
    }
    .bg-social:hover{
        background:var(--bs-dark);
        }

    .bg-social i,.bg-social h6{
        color:var(--bs-light);
        transition:.5s;
        position: relative;
        z-index:1;
    }
    .myimage{
        border-radius:100%;
        width:100%;
        animation:2s imgAnim infinite alternate;
    }
    .myimage img{
        width:70%;
        border-radius:100%;
        transition:.3s;
    }
    @keyframes imgAnim {
        from{
            transform:translateY(2%);
            filter:brightness(0.6) saturate(0);
        }
        to{
            filter:brightness(0.8) saturate(0);
            transform:translateY(-2%);
        }
    }
    .bg-social:hover i{
        color: var(--bs-success) !important;
    }

    ::-webkit-scrollbar {
        width:8px; 
        height:10px; 
    }
    

    ::-webkit-scrollbar-track {
        z-index:-10;
        background-color: #0a0a0a; 
        border-radius: 10px; 
    }
    
    ::-webkit-scrollbar-thumb {
        background-color:var(--bs-silver); 
        border-radius: 10px; 
    }
   

    /* For All Page Mobile View */
    .section-padding{
        padding:30px 15px;
    }
    .section-padding h1{
        padding:20px 0px 10px;
        text-align:center;
        font-weight:100;
    }
    .section-padding h1>span{
        color:var(--bs-success);
        font-weight:500!important;
    }
    .home-section-padding{
        padding:100px 15px 50px;
    }
    .socialmedia-linkss i{
        font-size:23px;
    }
    .socialmedia-linkss .icon1{
        color:var(--bs-success);
    }
    .socialmedia-linkss .icon2{
        color:var(--bs-warning);
    }
    .socialmedia-linkss .icon3{
        color:var(--bs-primary);
    }
    .socialmedia-linkss .icon4{
        color:var(--bs-secondary);
    }
    .socialmedia-linkss i:hover{
        top:-3px;
    }
    
    .myHeaders{
        z-index:100;
        position:relative;
    }
    .myNavbar{
        box-shadow:0px 0px 5px var(--bs-black2);
        border-bottom:1px solid #2f2e2e;
    }
    .myBoxxes .card{
        transition:.5s;
        background: var(--bs-dark) !important;
        border:1px solid #3a3a3a;
        height:190px;
        overflow:hidden;
        position: relative;
        top:0;
    }
    .myBoxxes .card .myDivContent{
        position: relative;
        transition:.8s;
        top:0px;
    }
    
    .myBoxxes .card:hover .myDivContent{
        background: var(--bs-dark) !important;
        top:-190px;
        transition:1s;
    }

    .myBoxxes .card .badge{
        background: green !important;
        background:black;
        color:#e3e3e3;
        padding:4px 20px;
        border-radius:0;
        font-weight:600;
        text-transform:uppercase;
        box-shadow:inset 0 0 2px #797979;
        transition:.8s;
        border-radius:40px;
        transform:rotate(0) scale(1);
    }
    .myBoxxes .card:hover .badge{
        color:white;
        border-radius:40px;
       
    }
    .myBoxxes1 .card,.myBoxxes .card{
        cursor:pointer;
    }
    .myBoxxes1 .card{
        background: var(--bs-black3) !important;
    }
    /* Larger than 992px View */

    .myBoxxes12 .row{
        cursor:pointer;
        background:var(--bs-black2);
        transition:.8s;
        margin:10px 0px;
    }
    
    
    .myBoxxes12 img{
        filter:brightness(0.5);
        height:190px;
    }
    .swiper-slide-visible{
        transform: scale(1) !important;
    }
   
    .swiper-slide-visible img,.myBoxxes12:hover img{
        filter:brightness(1);
    }
  
    
    .myBoxxes12 .url1{
        font-size:12px;
        font-weight:700;
        position: relative;
        z-index:11;
        color:grey;
        border-radius: 3px;
        border:1px solid;
    }
    .myBoxxes12 .url1:hover{
        color:var(--bs-black2);
        background:#a0a5a0;
        border:1px solid #a0a5a0;
    }
    .myBoxxes12 .mydiv{
        width:75%;
    }
    .myBoxxes12 .url{
        position: relative;
        z-index:11;
        border-radius:60px;
        color:var(--bs-success);
        border:1px solid;
        font-weight:600;
        border-color:var(--bs-success);
    }  
    .myBoxxes12:hover .url{
        color: silver;
        background:green;
        border-color:var(--bs-success);
    }
    .myBoxxes12 .url:hover{
        background: green;
        color: white ;;
        border-color:var(--bs-success);
    }
    
    .myBoxxes12 .url::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0%;
        height: 3px;
        background-color: #333;
        transition: all 0.3s ease;
      }
  
    .experience{
        background:var(--bs-black3);
    }
    .experience .grade{
        font-style:italic;
        font-weight:700;
    }
    .experience .role{
        font-weight:100!important;
    }
    .experience .year{
        font-weight:700!important;
        font-style:italic;
    }
    .experience .myBtn{
        font-weight:100!important;
        border-radius:30px;
    }
    
    .myAbout .name{
        font-size:13px;
        text-transform:uppercase;
        font-weight:700;
        letter-spacing:5px;
        margin-bottom:10px;
    }
    .myAbout .role{
        font-weight:100;
    }
    .myAbout p{
        font-style:italic;
    }
    .modal-content{
        background:transparent;
    }
    .modal-dialog{
        transform: scale(0.9) !important;;
    }
    @media (min-width:992px) {
        .experience .grade{
            font-size:23px;
        }
        .modal-dialog{
            transform: scale(1.4) !important;;
        }
        .myBoxxes12 img{
            height:260px;
        }
        .myAbout .name span{
            color: transparent !important;
            background:linear-gradient(to left,#e1e1e1,#5b5b5b);
            background-clip:text;
        }
        .myimage img{
            border-radius:100%;
        }
        
        .home-section-padding{
            padding:130px 15px 50px;
        }
        .navbar-nav a{
            font-family:var(--regular);
            color: var(--bs-light) !important;
            margin-left:10px;
            border-radius:40px;
            padding:4px 20px!important;
            position: relative;
            font-weight:500;
            transition:.5s ease;
            opacity:0.65;
        }
        .navbar-nav a::after{
            content:'';
            background:var(--bs-success)!important;
            width:0;
            left:20px;
            bottom:-3px;
            right:10px;
            border-radius:40px;
            height:3px;
            position: absolute;
            transition:.5s ease;
        }
        .navbar-nav a:hover::after{
            width:35px;
        }
        .navbar-nav a:hover,.navbar-nav .active,.navbar-nav a:active,.navbar-nav a:focus{
            transition:.5s ease;
            opacity:1;
            color:var(--bs-light)!important;
        }
        .navbar-nav .active::after{
            width:35px;
        }
        .navbar-brand a{
            cursor:pointer;
            font-size:32px;
            opacity:.8;
            font-weight:200;
            color:var(--bs-light)!important;
            font-family:var(--regular);
        }
        .section-padding{
            padding:50px;
        }
        
        .section-padding h1,.home-section-padding h1{
            font-family:var(--regular);
            font-size:25px;
            font-weight:300;
        }
        .section-padding h1>span,.home-section-padding h1>span{
            color:var(--bs-success);
            font-weight:600;
            margin-left:4px;
            border-radius:40px;
        }
            
        .myAbout .role{
            font-size:50px;
            background:var(--bs-secondary);
            background-clip:text;
            color:transparent;
            margin-bottom:10px;
            font-weight:600;
        }
        .myAbout p{
            margin-bottom:10px;
            font-style:italic;
            font-size:18px;
        }
        .socialmedia-linkss{
            display:flex;
        }
        .socialmedia-linkss i{
            text-align:center;
            display:flex;
            justify-content:center;
            align-items:center;
            font-size:38px;
            position: relative;
            padding:4px 10px;
            top:0px;
            transition:.3s;
        }
    }  

  